backend:
  name: test-repo

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: test
    label: Test
    folder: content/test
    create: true
    fields:
      - { name: title, label: Title, widget: string }
      - { name: body, label: Body, widget: text }
