backend:
  name: github
  repo: at-himawari/himawari
  branch: main
  base_url: https://himawari-cms-oauth.netlify.app
  auth_endpoint: .netlify/functions/auth
  squash_merges: true

media_folder: ""
public_folder: ""
publish_mode: editorial_workflow

media_library:
  name: s3_signed
  config:
    apiUrl: https://himawari-cms-oauth.netlify.app/.netlify/functions/s3-handler

collections:
  - name: "pages"
    label: "ページ"
    files:
      - label: "ライセンス"
        name: "license"
        file: "src/content/license.md"
        fields:
          - { label: "Body", name: "body", widget: "markdown" }
      - label: "プライバシーポリシー"
        name: "privacy-policy"
        file: "src/content/privacy-policy.md"
        fields:
          - { label: "body", name: "body", widget: "markdown" }

      - label: "プロジェクトポリシー"
        name: "project_policy"
        file: "src/content/project-policy.md"
        fields:
          - { label: "Body", name: "body", widget: "markdown" }
      - label: "特定商取引法に基づく表記"
        name: "commercial"
        file: "src/content/commercial"
        fields:
          - { label: "Body", name: "body", widget: "markdown" }

  - name: "slides"
    label: "Slides"
    files:
      - file: "src/content/slides.json"
        label: "Slides Data"
        name: "slides_data"
        fields:
          - {
              label: "Slides",
              name: "slides",
              widget: "list",
              fields:
                [
                  { label: "Title", name: "title", widget: "string" },
                  { label: "Text", name: "text", widget: "string" },
                  { label: "Image", name: "image", widget: "string" },
                  { label: "Link", name: "link", widget: "string" },
                ],
            }

  - name: "blog"
    label: "ブログ"
    folder: "src/content/blog/article"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - name: title
        label: Title
        widget: string
      - name: date
        label: Publish Date
        widget: datetime
      - name: categories
        label: Categories
        widget: list
        required: false
      - name: tags
        label: Tags
        widget: list
        required: false
      - name: coverImage
        label: Cover Image
        widget: image
        required: false
      - name: body
        label: Body
        widget: markdown

  - name: static_pages
    label: Static Pages
    files:
      - name: license_page
        label: ライセンス
        file: src/content/license.md
        fields:
          - name: body
            label: Body
            widget: markdown
      - name: privacy_page
        label: プライバシーポリシー
        file: src/content/privacy-policy.md
        fields:
          - name: body
            label: Body
            widget: markdown
      - name: project_page
        label: プロジェクトポリシー
        file: src/content/project-policy.md
        fields:
          - name: body
            label: Body
            widget: markdown
      - name: commercial_page
        label: 特定商取引法に基づく表記
        file: src/content/commercial.md
        fields:
          - name: body
            label: Body
            widget: markdown
